name: build
on: repository_dispatch

jobs:
  update-checkov:
    runs-on: [self-hosted, public, linux, x64]
    steps:
      - uses: actions/checkout@v2
      - name: update release
        run: |
          # update checkov version
          version=$(curl -s https://api.github.com/repos/bridgecrewio/checkov/releases/latest | jq -r '.name')
          sed -i'.bkp' -e 's/docker:\/\/bridgecrew\/checkov.*'\''/docker:\/\/bridgecrew\/checkov:'"${version}"''\''/g' action.yaml
          rm action.yaml.bkp
      - uses: stefanzweifel/git-auto-commit-action@v4
        with:
          commit_message: Bump yor container version
      - name: Bump version and push tag
        uses: anothrNick/github-tag-action@1.17.2
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          WITH_V: true
          ACTIONS_ALLOW_UNSECURE_COMMANDS: 'true'
