name: build
on:
  repository_dispatch:
  workflow_dispatch:

jobs:
  update-checkov:
    runs-on: [self-hosted, public, linux, x64]
    steps:

      - uses: actions/checkout@v3
        with:
          fetch-depth: '0'

      - name: update-checkov-version
        run: |
          version=$(curl -s https://api.github.com/repos/bridgecrewio/checkov/releases/latest | jq -r '.name')
          sed -i'.bkp' -e 's/docker:\/\/bridgecrew\/checkov.*'\''/docker:\/\/bridgecrew\/checkov:'"${version}"''\''/g' action.yml
          rm action.yml.bkp
          echo "CHECKOV_VERSION=$version" >> $GITHUB_ENV

      - uses: stefanzweifel/git-auto-commit-action@v4
        id: git_auto_commit
        with:
          commit_message: Bump checkov container version to ${{ env.CHECKOV_VERSION }}

      - name: version-tag
        uses: anothrNick/github-tag-action@1.39.0
        if: steps.git_auto_commit.outputs.changes_detected == 'true'
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          WITH_V: true

      - name: version-tag-major
        if: steps.git_auto_commit.outputs.changes_detected == 'true'
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          git fetch --tags
          tagFmt="^v?[0-9]+\.[0-9]+\.[0-9]+$"
          tag="$(git for-each-ref --sort=-v:refname --format '%(refname:lstrip=2)' | grep -E "$tagFmt" | head -n 1)"

          [[ "$tag" =~ ^(v[0-9]+) ]]
          major=${BASH_REMATCH[1]}

          # update major tag
          git tag -f "$major"
          git push -f origin "$major"
